<%- include('../partials/header.ejs') %>
<div class="container">
  <ul style = "list-style:none">
  <% articles.forEach(({id, title, author, occupation, body}) => { %>
    <li>
      <h1 >
        <a style ="color: darkred" href="/articles/<%= id %>"><%= title %></a>
      </h1>
      <h3 ><%= author %>, <%= occupation %></h3><hr>
    </li>
  <% }) %>
</ul>


</div>
