<%- include('../partials/header.ejs') %>
<div class="container">
<h1 class= "articletitle"><%= article.title %></h1>
<h3 class = "articlesub"><%= article.author %>, <%=article.occupation%></h1><hr>

  <div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 articlecontent">
          <%- article.body %>

</div>
</div>
</div>
</div>
